@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;1,300&display=swap');

html {
    background: white;
}

* {
    margin: 0;
    width: 80% margin auto;
}

header {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: blue;
}

body {
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
}

img {

    box-shadow: 2px 2px 2px black;
    position:absolute;
    right:20px;
    width:10%;
}

section {
    background: rgb(253, 238, 252);
    margin: 20px;
    padding: 30px;
    border: 1px solid rgb(239, 30, 218);
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap:wrap-reverse;
}